[submodule "third_party/slime"]
	path = third_party/slime
	url = git@github.com:BaohaoLiao/slime.git
[submodule "third_party/INSTRUCTION"]
	path = third_party/INSTRUCTION
	url = git@github.com:BaohaoLiao/INSTRUCTION.git
