[submodule "third_party/OpenResearcher"]
	path = third_party/OpenResearcher
	url = git@github.com:BaohaoLiao/OpenResearcher.git
[submodule "third_party/copilot-api"]
	path = third_party/copilot-api
	url = git@github.com:ericc-ch/copilot-api.git
